<div class="card flex justify-content-center">
    <p-button (click)="showDialog()" icon="pi pi-external-link" label="sell"><i class="fa-solid fa-money-check-dollar"></i></p-button>
    <p-dialog header="sell" [(visible)]="visible" [style]="{width: '50vw'}">
        <form [formGroup]="formGroup" class="form-layout">
            <div class="input-group">
                <i class="fa-solid fa-money-bill-transfer"></i>
                <input id="limit" type="number" formControlName="limit" class="form-control" [max]="actif.TotalAcheter - actif.TotalVendu" />
            </div>
            <p-button label="sell" icon="pi pi-check" iconPos="right" (click)="sell()"></p-button>
        </form>
    </p-dialog>
</div>