
<body>

  <div class="hero_area">
  
  <app-user-navbar/>
  

   
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Understanding the Basics  <br>
                      of Trading
                    </h1>
                    <p>

                      Trading involves buying and selling financial instruments to profit from market movements, using strategies and analysis to make informed decisions. It can include activities from short-term day trading to long-term investing, requiring market knowledge and risk management                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="assets/images/sliderimg.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Crypto <br>
                      Currency
                    </h1>
                    <p>
                      Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      Crypto <br>
                      Currency
                    </h1>
                    <p>
                      Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="assets/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Currency Wallet
                </h5>
                <p>
                  Portfolio management involves creating portfolios, tracking their gains and losses, and reviewing the assets contained within each portfolio
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="assets/images/traiding.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  virtual traiding
                </h5>
                <p>
                  buying and selling financial instruments like stocks, bonds, and cryptocurrencies to capitalize on market fluctuations. This functionality allows users to execute trades, manage their positions, and monitor market trends
                  The
                  point of using
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="assets/images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Real-time monitoring
                </h5>
                <p>
                  Real-time monitoring of financial markets involves continuously tracking and analyzing market data to identify trends, make informed trading decisions, and manage investment risks effectively
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
          Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum voluptatibus
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/images/traidingview.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We Are TraidingView
            </h3>
            <p>
              Our virtual trading platform provides an immersive and intuitive environment for practicing and mastering trading skills. Users can simulate real-world trading scenarios with live market data, test strategies, and explore various financial instruments without any financial risk. The platform features advanced charting tools, real-time market analysis, and portfolio management capabilities, allowing users to refine their trading techniques and gain valuable insights into market dynamics. Whether you're a beginner or an experienced trader, our virtual trading environment is designed to enhance your trading proficiency and confidence.
            </p>
            <p>
              Molestiae odio earum non qui cumque provident voluptates, repellendus exercitationem, possimus at iste corrupti officiis unde alias eius ducimus reiciendis soluta eveniet. Nobis ullam ab omnis quasi expedita.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose <span>Us</span>
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              User-Friendly Interface

            </h5>
            <p>
              Our virtual trading platform features a user-friendly interface that makes trading accessible and enjoyable. With intuitive navigation and customizable dashboards, you can easily track your performance, manage your virtual portfolio, and execute trades with ease.
            </p>
          </div>
        </div>
        
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Comprehensive Trading Simulations

            </h5>
            <p>
              Our platform offers an extensive range of trading simulations that replicate real-market conditions. By using live market data and advanced analytics, users can practice and refine their trading strategies without any financial risk.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w4.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Happy Customers
            </h5>
            <p>
              We take pride in the satisfaction of our users. Our platform has received glowing feedback from traders who appreciate the realistic simulations, robust tools, and intuitive design. Many have found that our platform not only meets their needs but exceeds their expectations, making it an indispensable part of their trading journey. Join our growing community of happy traders and experience the difference for yourself!
            </p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>

  <!-- end why section -->

  <!-- team section -->
  <section class="team_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          send a <span> testimonial</span>
        </h2>
      </div>

      
       
          
          <div class="col-lg-12 col-sm-10" style=" margin-left: 30%;">
            
              <form [formGroup]="testimonialForm" (ngSubmit)="onSubmit()" >
                        
                <div class="d-md-flex">
                    <div class="form-group">
                        <textarea name="" id="" cols="100" rows="10" class="form-control"
                            placeholder="Message" formControlName="message"></textarea>
                    </div>
                    <div class="form-group ml-md-4" style="margin-top: 5%;">
                        <input type="submit" value="send a testimonial" class="btn btn-primary py-3 px-4">
                    </div>
                </div>
            </form>

            </div>
          </div>
          
         
          
    
  </section>
  <!-- end team section -->


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What says our <span>Customers</span>
        </h2>
      </div>
      <div class="card flex justify-content-center">
        <p-carousel [value]="temoignages" [numVisible]="1" [numScroll]="1" orientation="vertical" verticalViewPortHeight="360px"  [responsiveOptions]="responsiveOptions">
            <ng-template let-temoi pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content" style="padding-left: 20%;padding-top: 5%;">
                        <div class="mb-3" >
                            <img src="https://res.cloudinary.com/dimj6qkuf/image/upload/v1717021166/Capture_d_%C3%A9cran_2024-05-29_231834_vmc34r.png" class="product-image" style="height: 5rem;border-radius:50%; margin-left:35%;" />
                        </div>
                        <div style="margin-left: 10%;">
                            <h4 class="mb-1">{{temoi.textTemoignage}}</h4>
                            <h6 class="mt-0 mb-3">the writter is {{temoi.user.name}}   {{temoi.user.lastName}}</h6>
                            
                            
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    </div>
  </section>

  <!-- end client section -->
<app-user-footer/>

 </body>